.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6, .page-title p, .page-title span {
  font-size: 20px;
    font-family:"微軟正黑體";
    margin-top: 15px;
    margin-bottom: 25px;
    margin-top: 0px;
}
.card-block{
	padding: 30px;
}
.card .card-heading {
    padding: 15px 20px;
    position: relative;
}
.per-btn{
   background-color: #7774e7;
   color: white;
   padding: 1vh 0px;
   margin-top: 30px;
   border: none;
   cursor: pointer;
   font-family:"微軟正黑體";
   width:100px;

}
.per-btn:focus{
 outline: none;
}

.per-btn:hover{
   background-color: #8c8aeb;
   border-color: #8c8aeb;

}
.btn-default:hover, .btn-default:focus, .btn-default:active {
    color: #515365;
    background-color: #edf2f8;
    border-color: #edf2f8;
}
.btn-default {
    color: #515365;
    padding: 1vh 10px;
     margin-top: 30px;
    background-color: #ffffff;
    border-color: #d4deee;
    font-weight: 500;
    width:100px;
}
 
.card-title {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #515365;
    margin-top: 0px;
    margin-bottom: 15px;
}
.border-bottom{
	border-bottom: 1px solid #e6ecf5;

}
.mi
{
	color: red;
	font-weight: bold;
	font-size:1rem;
}
.cusorho:hover{
	box-sizing: border-box;
	background:#f6f7fb;
	cursor: pointer;
}
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.input-group-text {
    background-color: transparent;
    border: 1px solid #e6ecf5;
    color: #e0e2e9;
    border-radius: 0px;
    border-right: 0px;
    line-height: 1.8;
}
 th {
       color: #515365;
       font-family:"微軟正黑體";
    border-bottom: 1px solid #e6ecf5;
}
.padd-right{
	padding-right: 0px;
}