/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
/*body{
     background-color: #f6f7fb;
}*/

 #wrapper {
    overflow-x: hidden;
 }
.nvbar-header{
height:65px;
}
  .main-content{
        background-color:rgba(255,255,255,0);
        padding: 30px 15px 15px 15px;
        min-height:calc(100vh - 65px);
    }
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #030923 !important;
  box-shadow: 1px 1px 5px #AAA;
}

.sidebar-heading{
  border-bottom:1px solid #dae0e5;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.cardbottom{
  margin-bottom:30px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.side-header img{
  width: 150px;
  height: 36px;
  object-fit: contain;
}

.list-group-item{
  width: calc(100% - 20px);
  /*background: rgba(255,255,255,0.9) !important;*/
  border-radius: 5px !important;
  color: #3a5969;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 10px 10px 1px;
  font-weight: 900;
}
.list-group-item:hover{
  color: #04254e;
  font-weight: 900;
}
.list-group-item:focus{
  color: #04254e;
  font-weight: 900;
}

/*下拉選單*/
.list-unstyled{
  width: calc(100% - 20px);

  margin: 0px 10px;
  text-align: left;

  padding: 10px 20px;
}
.list-unstyled a{
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1px;
}
.list-unstyled a:hover{
  text-decoration: none;
}
.list-unstyled i{
  font-size: 5px;
}