@charset "UTF-8";
button:focus, button:active {
  outline: none !important;
}

.navbar {
  background: #FFF;
  border-top: 5px solid #abbf4e;
  background-image: url(../localfront/images/top.png);
}

.logo {
  width: 77px;
  height: 77px;
}

.navbar a {
  color: #888;
  font-size: 1rem;
}

.navbar a:hover {
  color: #757430;
}

.navbar span {
  font-size: 2rem;
  color: #869541;
}

.nav-link {
  font-weight: 900;
}

.menuactive {
  border-bottom: 3px solid #eda2b6;
}

.slide {
  margin-top: 110px;
}

img {
  max-width: 100%;
}

.all-title {
  text-align: center;
  padding-bottom: 30px;
  color: #eda2b6;
}

.about {
  padding: 80px 0px 0px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/backtop.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 80px 0px 0px;
  }
}
.attractions {
  padding: 80px 0px 0px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/backtop.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.view720 {
  padding: 80px 0px 80px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/backtop.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.more-btn:hover {
  transform: translateY(5px);
}

.ontheground-more-btn {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #7296a2;
  color: white;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px #DDD;
  letter-spacing: 1px;
  transition: transform 0.5s;
}

.ontheground-more-btn i {
  font-size: 1.5rem;
}

.ontheground-more-btn:hover {
  transform: rotate(360deg);
}

.ontheground-more-btn:hover i {
  font-size: 2.5rem;
}

.footer {
  min-height: 400px;
  background-image: url(../localfront/images/contact.jpg);
  background-size: 100%;
  background-attachment: fixed;
  padding-bottom: 30px;
}

.footer-content {
  height: auto;
  margin-top: 80px;
  text-align: center;
}

.footer-content h3 {
  color: #247699;
}

.footer-content p {
  margin-top: 40px;
  letter-spacing: 1px;
  font-weight: 900;
  color: #4c5134;
}

.footer-content i {
  color: #d86987;
}

.copy {
  background: #abbf4e;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.all-icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.all-icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.2rem;
}

.all-icon-bar a:hover {
  background-color: #FFF;
  color: #EDA2b6;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #c188dd;
  color: white;
}

.youtube {
  background: #dd4b39;
  color: white;
}

.line {
  background: #7cd85a;
  color: white;
}

.scrolltop {
  background: #eda2b6;
  color: white;
}

@media screen and (max-width: 650px) {
  .all-icon-bar {
    top: calc(100% - 35px);
    bottom: 0;
    font-size: 0;
  }

  .all-icon-bar a {
    width: 50px;
    display: inline-block;
  }
}
.attractions-class720 {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.class720 {
  background: #7a96a2;
  height: 40px;
  line-height: 40px;
  border-right: 10px solid #FFF;
  color: #FFF;
}

.class720:hover {
  cursor: pointer;
  background: #5d7883;
}

.attractions-720 {
  position: absolute;
  top: 0;
  background: #eda2b6;
  color: #fff;
  font-size: 1.3rem;
  padding: 5px;
  text-align: center;
  border-radius: 10%;
}

@media screen and (max-width: 578px) {
  .class720 {
    margin-bottom: 10px;
  }
}
.oc-tickets p {
  width: 65%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 1rem;
  color: #555;
  text-align: left;
}

.oc-photo-box {
  margin-top: 15px;
}

.oc-photo-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.2rem;
}

.icon-bar a:hover {
  background-color: #FFF;
  color: #EDA2b6;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #c188dd;
  color: white;
}

.youtube {
  background: #dd4b39;
  color: white;
}

@media screen and (max-width: 560px) {
  .icon-bar {
    top: -100px;
  }

  .icon-bar a {
    width: 45px;
    display: inline-block;
  }
}
.datalinktitle {
  height: 180px;
  margin-top: 130px;
  border-radius: 10px;
  background-image: url(../localfront/images/titleback3.jpg);
  background-size: 100%;
  background-position: bottom;
}

.datalinktitle h3 {
  text-align: center;
  line-height: 200px;
  color: #FFF;
  letter-spacing: 1px;
}

.datalinkcontnt {
  padding: 80px 0px 60px;
  text-align: center;
  /*btn置中*/
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px dashed #EDA2b6;
}

td a {
  color: #627a84;
}

td a:hover {
  text-decoration: none;
  color: #8a9a42;
}

th, td {
  text-align: left;
  padding: 16px;
  text-align: justify;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(even) a:hover {
  color: #8a9a42;
}

.pagebox {
  margin-top: 60px;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: #555;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 16px;
}

.pagination a.active {
  background-color: #EDA2b6;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #EEE;
  text-decoration: none;
  color: #EDA2b6;
}

.abouttitle {
  height: 180px;
  margin-top: 130px;
  border-radius: 10px;
  background-image: url(../localfront/images/titleback1.jpg);
  background-size: 100%;
  background-position: bottom;
}

.abouttitle h3 {
  text-align: center;
  line-height: 200px;
  color: #FFF;
  letter-spacing: 1px;
}

.aboutcontent {
  padding: 80px 0px 60px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/oback.png);
  background-size: 100%;
}

.aboutbox {
  height: 600px;
  background-image: url(../localfront/images/titleback2.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutbox-content {
  padding: 50px 30px;
  background: rgba(255, 255, 255, 0.7);
}

.aboutbox-content h4 {
  width: 100%;
  font-size: 1.5rem;
  color: #7a96a2;
}

.aboutbox-content p {
  text-align: justify;
  line-height: 30px;
  letter-spacing: 2px;
  color: #555;
}

.activitytitle {
  height: 180px;
  margin-top: 130px;
  border-radius: 10px;
  background-image: url(../localfront/images/titleback2.jpg);
  background-size: 100%;
  background-position: bottom;
}

.activitytitle h3 {
  text-align: center;
  line-height: 200px;
  color: #FFF;
  letter-spacing: 1px;
}

.activitycontent {
  padding: 80px 0px 60px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/oback.png);
  background-size: 100%;
}

.activity-box {
  position: relative;
  margin-bottom: 20px;
}

.activity-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 1px 1px 3px #DDD;
}

.activity-box a:hover {
  opacity: 0.8;
}

.activity-box h5 {
  line-height: 28px;
  padding: 10px 0;
  letter-spacing: 1px;
  color: #7a96a2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumb-box {
  margin-top: 10px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 0.9rem;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

ul.breadcrumb li a {
  color: #888;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #757430;
  text-decoration: none;
}

.activitypage-title {
  margin-bottom: 20px;
}

.activitypage-title h3 {
  font-size: 1.5rem;
  color: #eda2b6;
}

.view720title {
  height: 180px;
  margin-top: 130px;
  border-radius: 10px;
  background-image: url(../localfront/images/titleback1.jpg);
  background-size: 100%;
  background-position: bottom;
}

.view720title h3 {
  text-align: center;
  line-height: 200px;
  color: #FFF;
  letter-spacing: 1px;
}

.view720content {
  padding: 80px 0px 60px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/oback.png);
  background-size: 100%;
}

.view720-box {
  margin-bottom: 30px;
}

.view720-circle {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  background: #fff;
  margin: auto;
}

.view720-circle img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
}

.view720-name {
  width: calc(100% - 30px);
  position: absolute;
  background: rgba(37, 38, 33, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  color: white;
  font-size: 1rem;
  padding: 15px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view720-circle:hover {
  transform: rotate(360deg);
  transition: all 0.3s;
}

.view720-circle:hover .view720-name {
  border-radius: 0;
}

.view720-circle:hover img {
  opacity: 0.5;
}

.lifetitle {
  height: 180px;
  margin-top: 130px;
  border-radius: 10px;
  background-image: url(../localfront/images/titleback1.jpg);
  background-size: 100%;
  background-position: bottom;
}

.lifetitle h3 {
  text-align: center;
  line-height: 200px;
  color: #FFF;
  letter-spacing: 1px;
}

.lifecontnt {
  padding: 80px 0px 60px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/oback.png);
  background-size: 100%;
}

.tab {
  float: left;
  width: 15%;
  min-height: 600px;
  box-shadow: -1px 0px 4px #CCC;
  background-image: url(../localfront/images/tabmenuback.png);
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #416a7c;
  padding: 18px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgba(237, 162, 182, 0.9);
  color: #FFF;
  font-weight: 900;
  border-bottom: 2px solid #FFF;
}

/* Style the tab content */
.tabcontent {
  background-color: #FFF;
  float: left;
  border: 1px solid #DDD;
  width: 85%;
  border-left: none;
  min-height: 600px;
  padding: 30px;
}

.life-box {
  margin-bottom: 30px;
  position: relative;
}

.life-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #FFF;
  box-shadow: 2px 2px 3px #DDD;
  border-radius: 5px;
}

.life-name {
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  color: white;
  font-size: 1rem;
  padding: 15px;
  text-align: center;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.life-box:hover img {
  opacity: 0.5;
}

.onthegroundpagetitle {
  height: 180px;
  margin-top: 130px;
  border-radius: 10px;
  background-image: url(../localfront/images/titleback1.jpg);
  background-size: 100%;
  background-position: bottom;
}

.onthegroundpagetitle h3 {
  text-align: center;
  line-height: 200px;
  color: #FFF;
  letter-spacing: 1px;
}

.onthegroundpagecontnt {
  padding: 80px 0px 60px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/oback.png);
  background-size: 100%;
}

.oc-class {
  width: 200px;
  height: 35px;
  padding: 0px 10px;
  background: #eda2b6;
  text-align: center;
  line-height: 35px;
  font-size: 0.9rem;
  color: #FFF;
  box-shadow: 2px 2px 3px #DDD;
}

.oc-title {
  height: 90px;
  line-height: 30px;
  font-size: 1.5rem;
  color: #416a7c;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  margin: auto;
  padding-top: 30px;
}

.oc-title i {
  color: #EDA2b6;
}

.oc-title span a {
  /*環景*/
  color: #EDA2b6;
  font-size: 1rem;
}

.oc-title span a:hover {
  /*環景*/
  color: #db6685;
  text-decoration: none;
}

.oc-title span a:hover i {
  /*環景*/
  color: #db6685;
}

.oc-img {
  width: 70%;
  height: auto;
  margin: auto;
  object-fit: contain;
  position: relative;
}

@media screen and (max-width: 995px) {
  .oc-img {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .oc-img {
    width: 100%;
  }
}
.oc-allsmalltitle {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  letter-spacing: 2px;
  text-align: left;
  line-height: 30px;
  font-size: 1.2rem;
  color: #999;
  border-bottom: 1px dashed #CCC;
  padding: 10px 0px;
}

.oc-allsmalltitle i {
  font-size: 0.7rem;
  color: #abbf4e;
}

.oc-text p {
  width: 65%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  letter-spacing: 2px;
  text-align: justify;
  line-height: 30px;
  font-size: 1rem;
  color: #555;
}

.oc-time p {
  width: 65%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 1rem;
  color: #555;
  text-align: left;
}

.justnowpagetitle {
  height: 180px;
  margin-top: 130px;
  border-radius: 10px;
  background-image: url(../localfront/images/titleback2.jpg);
  background-size: 100%;
  background-position: bottom;
}

.justnowpagetitle h3 {
  text-align: center;
  line-height: 200px;
  color: #FFF;
  letter-spacing: 1px;
}

.justnowpagecontnt {
  padding: 80px 0px 60px;
  text-align: center;
  /*btn置中*/
  background-image: url(../localfront/images/oback.png);
  background-size: 100%;
}

.jc-title {
  width: 70%;
  line-height: 30px;
  font-size: 1.5rem;
  color: #416a7c;
  text-align: left;
  font-weight: 900;
  letter-spacing: 1px;
  margin: auto;
  border-left: 10px solid #eda2b6;
  padding: 0px 10px;
  text-align: justify;
}

.jc-date {
  width: 250px;
  line-height: 30px;
  background-color: #abbf4e;
  font-size: 0.9rem;
  color: #FFF;
  letter-spacing: 1px;
  margin: auto;
  margin-top: 15px;
  border-radius: 20px;
}

.jc-img {
  width: 70%;
  height: auto;
  margin: auto;
  object-fit: contain;
  margin-top: 15px;
}

.jc-text {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  letter-spacing: 2px;
  text-align: justify;
  line-height: 30px;
  font-size: 1rem;
  color: #555;
}

.jc-highlights {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 30px;
}

.jc-back {
  width: 100px;
  height: 40px;
  background-color: #eda2b6;
  line-height: 35px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #FFF;
  margin: auto;
  margin-top: 30px;
}

.jc-back:hover i {
  transform: translateX(-5px);
  transition: transform 0.5s;
}

.jc-highlights-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 12px 30px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #FFF;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
}

.active, .jc-highlights-accordion:hover {
  background-color: #ccc;
}

.jc-highlights-accordion:after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.jc-active:after {
  content: "−";
}

.panel {
  width: 90%;
  margin: auto;
  background-color: #FFF;
  max-height: 0;
  overflow: scroll;
  transition: max-height 0.2s ease-out;
  padding: 0px 30px;
}

.jc-highlights-box {
  margin: 15px 0px 5px;
}

.jc-highlights-box img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff !important;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #fff;
  font-size: 50px;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.embed-responsive {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}