.content-box {
  width: calc(100% - 180px);
  height: 100%;
  background-image: url(../firstfront/images/pagetitle.png);
  float: right;
}

@media screen and (max-width: 900px) {
  .content-box {
    width: 100%;
    float: right;
  }
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #7e212c;
  position: fixed;
  height: 100%;
  box-shadow: 1px 1px 2px #888;
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
.index-photo {
  width: 100%;
  height: 100vh;
  background-image: url(../firstfront/images/slide1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 220px;
  height: 220px;
  background: #7e212c;
  padding: 35px;
  border: 2px solid #FFF;
}

.logo img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.fanslink {
  width: 180px;
  height: 300px;
  position: absolute;
  bottom: 0;
}

.fanslink-div {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-align: center;
  line-height: 58px;
  font-size: 2rem;
  margin-left: 60px;
  margin-top: calc(120px / 10);
  border: 1px dashed #FFF;
}

.fanslink-div i {
  color: #FFF;
}

.fanslink-div a:hover {
  opacity: 0.9;
}

.fanslink-div:hover {
  border: 1px solid #FFF;
}

.sidenav-fanslink {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
}

.sidenav-fanslink-div {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-align: center;
  margin-left: calc((100% - 60px)/2);
  margin-top: calc(120px / 4);
  border: 1px dashed #FFF;
}

.sidenav-fanslink-div i {
  color: #FFF;
  font-size: 2rem;
  line-height: 60px;
}

.sidenav-fanslink-div a:hover {
  opacity: 0.9;
}

.sidenav-fanslink-div:hover {
  border: 1px solid #FFF;
}

.menu {
  width: 100%;
  height: auto;
  text-align: center;
}

.hamburg {
  color: #FFF;
  font-size: 2.5rem;
  cursor: pointer;
}

.hamburg p {
  font-size: 1rem;
  letter-spacing: 1px;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #321e17;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 1px 1px 2px #000;
}

.sidenav-a {
  padding: 15px 8px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #FFF;
  display: block;
  transition: 0.3s;
  text-align: center;
  letter-spacing: 1px;
}

.sidenav a:hover {
  color: #fed5d9;
  text-decoration: none;
  transform: translateX(10px);
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-width: 900px) {
  .menu {
    width: calc(100% - 150px);
    text-align: right;
    float: right;
  }

  .logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: none;
  }

  .logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .hamburg p {
    font-size: 0.4rem;
  }

  #main {
    padding: 3px 20px;
  }
}
@media screen and (max-width: 900px) {
  .fanslink {
    display: none;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
.content {
  width: 100%;
  min-height: 100vh;
  padding: 20px 60px 20px 70px;
}

@media screen and (max-width: 900px) {
  .content {
    margin-left: 0px;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .content {
    padding: 20px 0px;
  }
}
.page-title {
  width: 100%;
  height: auto;
  background-image: url(../firstfront/images/title.png);
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 0px;
  margin-bottom: 10px;
  font-size: 2.3rem;
  letter-spacing: 2px;
  color: #7e212c;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 2px #EEE;
}

@media screen and (max-width: 1350px) {
  .page-title {
    background-size: 25%;
  }
}
@media screen and (max-width: 1200px) {
  .page-title {
    background-size: 30%;
  }
}
@media screen and (max-width: 1050px) {
  .page-title {
    background-size: 35%;
  }
}
@media screen and (max-width: 750px) {
  .page-title {
    background-size: 45%;
  }
}
@media screen and (max-width: 550px) {
  .page-title {
    background-size: 55%;
  }
}
@media screen and (max-width: 400px) {
  .page-title {
    background-size: 65%;
  }
}
@media screen and (max-width: 320px) {
  .page-title {
    background-size: 70%;
  }
}
.titleline {
  width: 1px;
  height: 60px;
  background: #7e212c;
  margin: auto;
}

.about-content {
  margin-top: 20px;
  height: auto;
  box-shadow: 2px 2px 3px #EEE;
}

.about-text {
  height: auto;
  background: #f6f6f6;
  background-image: url(../firstfront/images/aboutback.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 50px;
}

.about-text h4 {
  text-align: center;
  padding: 40px 0px 0px;
  color: #5a372a;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #DDD;
}

.about-text h6 {
  text-align: center;
  padding: 15px 40px;
  color: #70818f;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 35px;
}

.about-text p {
  text-align: center;
  color: #555f68;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 35px;
}

.about-text p i {
  color: #70818f;
  font-size: 0.8rem;
}

.about-btn {
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 90px;
  box-shadow: 1px 1px 2px #DDD;
  position: absolute;
  bottom: -30px;
  left: 0;
  margin-left: calc((100% - 90px) / 2);
  text-align: center;
}

.about-btn i {
  line-height: 90px;
  font-size: 2rem;
  color: #f48590;
}

.about-img {
  max-height: 100vh;
  background-image: url(../firstfront/images/slide1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .about-img {
    height: 500px;
  }

  .about-btn {
    display: none;
  }
}
.about-surroundings {
  height: auto;
  margin-top: 150px;
}

.as-1 {
  height: 2px;
  background: #7e212c;
  margin-top: 15px;
}

.as-2 {
  height: 70px;
  text-align: center;
  background-image: url(../firstfront/images/a-title1.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.as-2 h4 {
  line-height: 70px;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #666;
}

.as-3 {
  height: 2px;
  background: #7e212c;
  margin-top: 45px;
}

.as-box {
  height: auto;
  margin-top: 50px;
}

@media screen and (max-width: 576px) {
  .about-surroundings {
    margin-top: 100px;
  }

  .as-1 {
    height: 0px;
  }

  .as-2 {
    background-size: 55%;
  }

  .as-3 {
    height: 0px;
  }

  .as-box {
    margin-top: 0px;
  }
}
@media screen and (max-width: 450px) {
  .as-2 {
    background-size: 65%;
  }
}
@media screen and (max-width: 400px) {
  .as-2 {
    background-size: 78%;
  }
}
.as-box-div {
  height: 250px;
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

.as-box-div:hover {
  opacity: 0.9;
}

.as-box-div:hover .as-box-div-name {
  font-size: 1.15rem;
}

.as-box-div img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.as-box-div-name {
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #5a372a;
  transition: all 0.5s;
}

.about-contact {
  height: auto;
  margin-top: 100px;
}

.about-contact-local {
  border-right: 1px solid #DDD;
}

.about-contact-local p {
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
}

.about-contact-local p i {
  color: #7e212c;
  font-size: 0.8rem;
}

.about-contact-phone {
  border-right: 1px solid #EEE;
}

.about-contact-phone p {
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
}

.about-contact-phone p i {
  color: #7e212c;
  font-size: 0.8rem;
}

.about-contact-people p {
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
}

.about-contact-people p i {
  color: #7e212c;
  font-size: 0.8rem;
}

.footer {
  height: auto;
  margin-top: 100px;
  text-align: center;
  line-height: 50px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #555;
}

@media screen and (max-width: 800px) {
  .footer {
    line-height: 25px;
  }
}
.area-box {
  height: auto;
  margin-top: 20px;
}

.area-box-div {
  height: auto;
  margin-bottom: 30px;
}

.area-box-div-img {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
}

.area-box-div-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.5s;
}

.area-box-div-name {
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #5a372a;
  border: 1px solid #ddd;
  border-top: none;
}

.area-box-div a:hover {
  text-decoration: none;
}

.area-box-div a:hover .area-box-div-img img {
  transform: scale(1.1);
}

.pagebox {
  margin-top: 50px;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: #555;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #7e212c;
  color: white;
  text-decoration: none;
}

.pagination a:hover:not(.active) {
  background-color: #EEE;
  text-decoration: none;
  color: #7e212c;
}

.news-classbox {
  width: 100%;
  padding: 20px 0px;
}

.news-classbox .active {
  background: #f27d88;
  color: #FFF;
}

.news-classbox-btn {
  background-color: #ccd3d9;
  color: #555;
  padding: 8px 0px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  transition: transform 0.5s;
  border-right: 5px solid #FFF;
}

@media screen and (max-width: 575px) {
  .news-classbox-btn {
    border-right: none;
    border-bottom: 5px solid #FFF;
  }
}
.news-classbox-btn:hover {
  transform: translateY(5px);
}

.news-contnt {
  height: auto;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #EEE;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td a {
  color: #627a84;
}

td a:hover {
  text-decoration: none;
  color: #7e212c;
}

th, td {
  text-align: left;
  padding: 16px;
  text-align: justify;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(even) a:hover {
  color: #7e212c;
}

.activity-box {
  height: auto;
  margin-top: 20px;
}

.activity-box-div {
  height: auto;
  margin-bottom: 30px;
}

.activity-box-div-img {
  width: 100%;
  padding-top: 15px;
  background-image: url(../firstfront/images/activityboxback.png);
}

.activity-box-div-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.5s;
}

.activity-box-div-name {
  width: 100%;
  height: 50px;
  background-image: url(../firstfront/images/activityboxback.png);
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #333;
  text-shadow: 2px 2px 2px #aaa;
  box-shadow: 2px 2px 2px #EEE;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity-box-div a:hover {
  text-decoration: none;
}

.activity-box-div a:hover .activity-box-div-img img {
  opacity: 0.8;
}

.newspage {
  height: auto;
  margin-top: 20px;
}

.bp-class {
  width: 120px;
  padding: 3px 10px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #7e212c;
  border-left: 6px solid #f27d88;
  border-right: 6px solid #f27d88;
}

.bp-title {
  width: 80%;
  height: auto;
  line-height: 35px;
  font-size: 1.5rem;
  color: #647787;
  text-align: justify;
  font-weight: 900;
  letter-spacing: 2px;
  margin: auto;
  padding: 20px 0px;
}

.bp-title i {
  color: #EDA2b6;
}

.bp-img {
  width: 80%;
  height: auto;
  margin: auto;
  object-fit: contain;
}

.bp-img img {
  width: 100%;
  height: auto;
  margin: auto;
  object-fit: contain;
}

.bp-content {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  letter-spacing: 2px;
  text-align: justify;
  line-height: 30px;
  font-size: 1.2rem;
  color: #555;
}

@media screen and (max-width: 600px) {
  .bp-title {
    width: 100%;
  }

  .bp-img {
    width: 100%;
  }

  .bp-content {
    width: 100%;
  }
}
.bp-date {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  letter-spacing: 2px;
  text-align: right;
  line-height: 30px;
  font-size: 1rem;
  color: #712e2c;
  font-weight: 900;
}

.backfront {
  width: 80%;
  margin: auto;
  text-align: center;
}

.backfront button {
  width: 100px;
  height: 40px;
  background-color: #a4b1bc;
  line-height: 35px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #FFF;
  margin: auto;
  margin-top: 30px;
}

.backfront button:hover i {
  transform: translateX(-5px);
  transition: transform 0.5s;
}

.activitypage-title {
  height: 50px;
  line-height: 50px;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;
  color: #333;
  text-shadow: 2px 2px 2px #aaa;
}

.activitypage-title i {
  font-size: 0.8rem;
  color: #7e212c;
}

button:focus {
  outline: none !important;
}

/* Style tab links */
.tablink {
  background-color: #ccd3d9;
  color: #444;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1.2rem;
  width: 25%;
  border-top: 2px solid #ccd3d9;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #444;
  display: none;
  padding: 100px 20px;
  height: auto;
}

#photoalbum {
  background-color: #f6f6f6;
}

#video {
  background-color: #fed5d9;
}

.activitypage-img {
  width: 100%;
  margin-bottom: 20px;
}

.activitypage-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.activitypage-video {
  margin-bottom: 20px;
}