.activitypage-title{
  height: 50px;
  // background: #DE3443;
  line-height: 50px;  
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;
  color: #333;
  text-shadow: 2px 2px 2px #aaa;
}
.activitypage-title i{
  font-size: 0.8rem;
  color: #7e212c;
}
button:focus{
  outline: none !important;
}
/* Style tab links */
.tablink {
  background-color: #ccd3d9;
  color: #444;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1.2rem;
  width: 25%;
  border-top: 2px solid #ccd3d9;
}

.tablink:hover {
  background-color: #777;
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #444;
  display: none;
  padding: 100px 20px;
  // height: 100%;
  height: auto;
}

#photoalbum {
  background-color: #f6f6f6;
}
#video {
  background-color: #fed5d9;
}
.activitypage-img{
  width: 100%;
  // background: #ccd3d9;
  margin-bottom: 20px;
}
.activitypage-img img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}