.news-classbox{
	width: 100%;
	// background-color: #500055;
	padding:20px 0px;	
}
.news-classbox .active{
	background: #f27d88;
	color: #FFF;
}
.news-classbox-btn{
    background-color: #ccd3d9;
  	color: #555;
  	padding: 8px 0px;
  	border: none;
  	cursor: pointer;
  	letter-spacing: 1px;
  	// box-shadow: 2px 2px 3px #DDD;
  	transition: transform 0.5s;
  	border-right: 5px solid #FFF;
}
@media screen and (max-width: 575px) {
  .news-classbox-btn {
  	border-right: none;
  	border-bottom: 5px solid #FFF;
  }
}
.news-classbox-btn:hover{
	transform: translateY(5px);
}
.news-contnt{
	height: auto;
	// background: #45456a;
	margin-top: 20px;
}

// 列表
table {
  	border-collapse: collapse;
 	  border-spacing: 0;
  	width: 100%;
  	border: 1px solid #EEE;
  	overflow:hidden;
	  text-overflow:ellipsis;
	  white-space:nowrap;//莫名變一行
}
td a{
	  color: #627a84;
}
td a:hover{
	  text-decoration: none;
	  color: #7e212c;
}
th, td {
  	text-align: left;
  	padding: 16px;
  	text-align: justify;
}
tr:nth-child(even) {
  	background-color: #f2f2f2;
}
tr:nth-child(even) a:hover{
  	color: #7e212c;
}