.newspage{
	height: auto;
	// background: #45456a;
	margin-top: 20px;	
}
.bp-class{
	width: 120px;
	padding: 3px 10px;
	// background: #f27d88;
	text-align: center;
	letter-spacing: 1px;
	font-size: 1rem;
	color: #7e212c;
	// box-shadow: 2px 2px 3px #DDD;
	border-left: 6px solid #f27d88;
	border-right: 6px solid #f27d88;
}
.bp-title{
	width: 80%;
	height: auto;
	line-height: 35px;
	// background-color: #787;
	font-size: 1.5rem;
	color: #647787;
	text-align: justify;
	font-weight: 900;
	letter-spacing: 2px;
	margin: auto;
	padding: 20px 0px;
}
.bp-title i{
	color: #EDA2b6;
}
.bp-img{
	width: 80%;
	height: auto;	
	margin: auto;
	object-fit: contain;
}
.bp-img img{
	width: 100%;
	height: auto;
	margin: auto;
	object-fit: contain;
}
.bp-content{
	width: 80%;
	height: auto;
	margin: auto;
	// background-color: #DE8790;
	margin-top: 15px;
	letter-spacing: 2px;
	text-align: justify;
	line-height: 30px;
	font-size: 1.2rem;
	color: #555;	
}
@media screen and (max-width: 600px) {
  .bp-title{
  	width: 100%;
  }
  .bp-img {
  	width: 100%;	
  }
  .bp-content{
  	width: 100%;
  }
}
.bp-date{
	width: 80%;
	height: auto;
	margin: auto;
	// background-color: #DE8790;
	margin-top: 30px;
	letter-spacing: 2px;
	text-align: right;
	line-height: 30px;
	font-size: 1rem;
	color: #712e2c;	
	font-weight: 900;
}
.backfront{
	width: 80%;
	margin: auto;
	text-align: center;
}
.backfront button{
	width: 100px;
	height: 40px;
	background-color: #a4b1bc;
	line-height: 35px;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	color: #FFF;
	margin: auto;
	margin-top: 30px;
}
.backfront button:hover i {
  transform: translateX(-5px);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s; 
}	