.abouttitle{
	height: 180px;
	margin-top: 130px;
	border-radius: 10px;
	background-image: url(../images/titleback1.jpg);
	background-size:100%;
	background-position: bottom;
}
.abouttitle h3{
	text-align: center;
	line-height: 200px;
	color: #FFF;
	letter-spacing: 1px;
}
.aboutcontent{
	padding: 80px 0px 60px;
	text-align: center;/*btn置中*/
	background-image: url(../images/oback.png);
	background-size: 100%;
}
.aboutbox{
	height: 600px;
	// background: #DE3444;
	background-image:url(../images/titleback2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	align-items: center;
	justify-content:  center;
}
.aboutbox-content{
	padding: 50px 30px;
	background: rgba(255,255,255,0.7);
}
.aboutbox-content h4{
	width: 100%;
	font-size: 1.5rem;
	color: #7a96a2;
}
.aboutbox-content p{
	text-align: justify;
	line-height: 30px;
	letter-spacing: 2px;
	color: #555;
}