// 搬舊的class名稱，故沒有改
.justnowpagetitle{
	height: 180px;
	margin-top: 130px;
	border-radius: 10px;
	background-image: url(../images/titleback2.jpg);
	background-size:100%;
	background-position: bottom;
}
.justnowpagetitle h3{
	text-align: center;
	line-height: 200px;
	color: #FFF;
	letter-spacing: 1px;
}
.justnowpagecontnt{
	padding: 80px 0px 60px;
	text-align: center;/*btn置中*/
	background-image: url(../images/oback.png);
	background-size: 100%;
}
.jc-title{
	width: 70%;
	line-height: 30px;
	// background-color: #D65ff2;
	font-size: 1.5rem;
	color: #416a7c;
	text-align: left;
	font-weight: 900;
	letter-spacing: 1px;
	margin: auto;
	border-left: 10px solid #eda2b6;
	padding: 0px 10px;
	text-align: justify;
}
.jc-date{
	width: 250px;
	line-height: 30px;
	background-color: #abbf4e;
	font-size: 0.9rem;
	color: #FFF;
	letter-spacing: 1px;
	margin: auto;
	margin-top: 15px;
	border-radius: 20px;
}
.jc-img{
	width: 70%;
	height: auto;
	margin: auto;
	object-fit: contain;
	margin-top: 15px;
}
.jc-text{
	width: 70%;
	height: auto;
	margin: auto;
	// background-color: #DE8790;
	margin-top: 15px;
	letter-spacing: 2px;
	text-align: justify;
	line-height: 30px;
	font-size: 1rem;
	color: #555;
}
.jc-highlights{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 30px;
}
.jc-back{
	width: 100px;
	height: 40px;
	background-color: #eda2b6;
	line-height: 35px;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	color: #FFF;
	margin: auto;
	margin-top: 30px;
}
.jc-back:hover i{
	transform: translateX(-5px);
	transition: transform 0.5s;
}
// 手風琴
.jc-highlights-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 12px 30px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #FFF;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
}
.active, .jc-highlights-accordion:hover {
  background-color: #ccc;
}
.jc-highlights-accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.jc-active:after {
  content: "\2212";
}
.panel {
	width: 90%;
	margin: auto;
  	background-color: #FFF;
  	max-height: 0;
  	overflow: scroll;
  	transition: max-height 0.2s ease-out;
  	padding: 0px 30px;
}

// 模態圖像
.jc-highlights-box{
	margin: 15px 0px 5px;
}
.jc-highlights-box img{
	width: 100%;
	height: 120px;
	object-fit: cover;
}
#myImg {
  	border-radius: 5px;
  	cursor: pointer;
  	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff !important;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,.close:focus {
  color: #fff;
  font-size: 50px;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

//iframe
.embed-responsive{
	margin-top: 20px;
	margin-left:auto;
	margin-right: auto;
}