.activitytitle{
	height: 180px;
	margin-top: 130px;
	border-radius: 10px;
	background-image: url(../images/titleback2.jpg);
	background-size:100%;
	background-position: bottom;
}
.activitytitle h3{
	text-align: center;
	line-height: 200px;
	color: #FFF;
	letter-spacing: 1px;
}
.activitycontent{
	padding: 80px 0px 60px;
	text-align: center;/*btn置中*/
	background-image: url(../images/oback.png);
	background-size: 100%;
}
.activity-box {
	position: relative;
	margin-bottom: 20px;
}
.activity-box img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	box-shadow: 1px 1px 3px #DDD;
}
.activity-box a:hover{
	opacity: 0.8;
}
.activity-box h5{
	// background: pink;
	line-height: 28px;
	padding: 10px 0;
	letter-spacing: 1px;
	color: #7a96a2;	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}


// 麵包屑
.breadcrumb-box{
	margin-top: 10px;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 0.9rem;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #888;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #757430;
  text-decoration: none;
}