.oc-tickets p{
	width: 65%;
	height: auto;
	margin: auto;
	// background-color: #DE8790;
	margin-top: 15px;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 1rem;
	color: #555;
	text-align: left;
}
.oc-photo-box{
	margin-top: 15px;
}
.oc-photo-box img{
	width: 100%;
	height: 150px;
	object-fit: cover;
}

// 社群欄
.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.2rem;
}

.icon-bar a:hover {
  background-color: #FFF;
  color: #EDA2b6;
}
.facebook {
  background: #3B5998;
  color: white;
}
.instagram {
  background: #c188dd;
  color: white;
}
.youtube {
  background: #dd4b39;
  color: white;
}
@media screen and (max-width: 560px) {
	.icon-bar {
		top: -100px;
	}
	.icon-bar a {
		width: 45px;
	  	display: inline-block;
	}	  
}