// 內容div與life的一樣，故命名不改
.attractions-class720{
	width: 100%;
	height: auto;
	// background: #44ff50;
	margin-bottom: 20px;
}
.class720{
	background: #7a96a2;
	height: 40px;
	line-height: 40px;
	border-right: 10px solid #FFF;
	color: #FFF; 
}
.class720:hover{
	cursor: pointer;
	background: #5d7883;
}
.attractions-720{
	position: absolute; 
	top: 0;
	background: #eda2b6;
	color: #fff; 
	font-size: 1.3rem;
	padding: 5px;
	text-align: center;
	border-radius: 10%;
}
@media screen and (max-width: 578px) {
	.class720{
		margin-bottom: 10px;
	}		
}