.datalinktitle{
	height: 180px;
	margin-top: 130px;
	border-radius: 10px;
	background-image: url(../images/titleback3.jpg);
	background-size:100%;
	background-position: bottom;
}
.datalinktitle h3{
	text-align: center;
	line-height: 200px;
	color: #FFF;
	letter-spacing: 1px;
}
.datalinkcontnt{
	padding: 80px 0px 60px;
	text-align: center;/*btn置中*/
}

// 列表
table {
  	border-collapse: collapse;
 	border-spacing: 0;
  	width: 100%;
  	border: 1px dashed #EDA2b6;
}
td a{
	color: #627a84;
}
td a:hover{
	text-decoration: none;
	color: #8a9a42;
}
th, td {
  	text-align: left;
  	padding: 16px;
  	text-align: justify;
}
tr:nth-child(even) {
  	background-color: #f2f2f2;
}
tr:nth-child(even) a:hover{
  	color: #8a9a42;
}

// 頁碼
.pagebox{
	// background-color:red;
	margin-top: 60px;
}
.pagination{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content:  center;
}
.pagination a {
  color: #555;
  float: left;	
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 16px;
}

.pagination a.active {
  background-color: #EDA2b6;
  color: white;
}
.pagination a:hover:not(.active) {
	background-color: #EEE;
	text-decoration: none;
	color: #EDA2b6;
}