// 全部按鈕
button:focus,button:active {
   outline: none !important;
}
.navbar{
	background: #FFF;
	border-top: 5px solid #abbf4e;
	background-image: url(../images/top.png);
}
.logo{
	width: 187px;
	height: 77px;
}
.navbar a{
	color: #888;
	font-size: 1rem;
}
.navbar a:hover{
	color: #757430;
}
.navbar span{
	font-size: 2rem;
	color: #869541;
}
.nav-link{
	font-weight: 900;
}
.menuactive{
	border-bottom: 3px solid #eda2b6;
}
.slide{
	margin-top: 110px;
}

img{
  	max-width: 100%;
}
.all-title{
	text-align: center;
	padding-bottom: 30px;
	color: #eda2b6;
}
.about{
	padding: 80px 0px 0px;	
	text-align: center;/*btn置中*/
	// background-color: #EEE;
	background-image: url(../images/backtop.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
	.about{
		padding: 80px 0px 0px;	
	}		
}
.attractions{
	padding: 80px 0px 0px;
	text-align: center;/*btn置中*/
	background-image: url(../images/backtop.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.view720{
	padding: 80px 0px 80px;
	text-align: center;/*btn置中*/
	background-image: url(../images/backtop.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.more-btn:hover{
	transform: translateY(5px);
}

//按鈕
.ontheground-more-btn{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #7296a2;
  	color: white;
  	margin-top: 30px;
  	border: none;
  	cursor: pointer;
  	box-shadow: 2px 2px 3px #DDD;
  	letter-spacing: 1px;
  	transition: transform 0.5s;
}
.ontheground-more-btn i{
	font-size: 1.5rem;
}
.ontheground-more-btn:hover{
	transform: rotate(360deg);
}
.ontheground-more-btn:hover i{
	font-size: 2.5rem;
}

// footer
.footer{
	min-height: 400px;
	background-image: url(../images/contact.jpg);
	background-size:100%;
	background-attachment:fixed;
	padding-bottom:30px;
}
.footer-content{
	// background: #ffb65f;
	height: auto;
	margin-top: 80px;
	text-align: center;
}
.footer-content h3{
	color: #247699;
}
.footer-content p{
	margin-top: 40px;
	letter-spacing: 1px;
	font-weight: 900;
	color: #4c5134;
}
.footer-content i{
	color: #d86987;
}
.copy{
	background:#abbf4e;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	font-size: 0.9rem;
	letter-spacing: 1px;
}

// 社群欄
.all-icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.all-icon-bar a {
	display: block;
  	text-align: center;
  	padding: 12px;
  	transition: all 0.3s ease;
  	color: white;
  	font-size: 1.2rem;
}
.all-icon-bar a:hover {
  	background-color: #FFF;
 	color: #EDA2b6;
}
.facebook {
  	background: #3B5998;
  	color: white;
}
.instagram {
  	background: #c188dd;
  	color: white;
}
.youtube {
  	background: #dd4b39;
  	color: white;
}
.line{
	background: #7cd85a;
  	color: white;
}
.scrolltop{
	background: #eda2b6;
  	color: white;
}
@media screen and (max-width: 650px) {
	.all-icon-bar {
		top: calc(100% - 35px);
		bottom: 0;
		font-size: 0;
	}
	.all-icon-bar a {
		width: 50px;
		display: inline-block;
	}
}