.onthegroundpagetitle{
	height: 180px;
	margin-top: 130px;
	border-radius: 10px;
	background-image: url(../images/titleback1.jpg);
	background-size:100%;
	background-position: bottom;
}
.onthegroundpagetitle h3{
	text-align: center;
	line-height: 200px;
	color: #FFF;
	letter-spacing: 1px;
}
.onthegroundpagecontnt{
	padding: 80px 0px 60px;
	text-align: center;/*btn置中*/
	background-image: url(../images/oback.png);
	background-size: 100%;
}
.oc-class{
	width: 200px;
	height: 35px;
	padding: 0px 10px;
	background: #eda2b6;
	text-align: center;
	line-height: 35px;
	font-size: 0.9rem;
	color: #FFF;
	box-shadow: 2px 2px 3px #DDD;	
}
.oc-title{
	height: 90px;
	line-height: 30px;
	// background-color: #555;
	font-size: 1.5rem;
	color: #416a7c;
	text-align: center;
	font-weight: 900;
	letter-spacing: 1px;
	margin: auto;
	padding-top: 30px;
}
.oc-title i{
	color: #EDA2b6;
}
.oc-title span a{ /*環景*/
	color:#EDA2b6;
	font-size: 1rem;
}
.oc-title span a:hover{ /*環景*/
	color:#db6685;
	text-decoration: none;
}
.oc-title span a:hover i{ /*環景*/
	color:#db6685;
}
.oc-img{
	width: 70%;
	height: auto;
	margin: auto;
	object-fit: contain;
	position: relative;
}
@media screen and (max-width: 995px) {
	.oc-img{
		width: 90%;
	}  
}
@media screen and (max-width: 400px) {
	.oc-img{
		width: 100%;
	}  
}
.oc-allsmalltitle{
	width: 70%;
	height: auto;
	margin: auto;
	// background-color: #DE8790;
	margin-top: 15px;
	letter-spacing: 2px;
	text-align: left;
	line-height: 30px;
	font-size: 1.2rem;
	color: #999;
	border-bottom: 1px dashed #CCC;
	padding: 10px 0px;
}
.oc-allsmalltitle i{
	font-size: 0.7rem;
	color: #abbf4e;
}
.oc-text p{
	width: 65%;
	height: auto;
	margin: auto;
	// background-color: #DE8790;
	margin-top: 15px;
	letter-spacing: 2px;
	text-align: justify;
	line-height: 30px;
	font-size: 1rem;
	color: #555;
}
.oc-time p{
	width: 65%;
	height: auto;
	margin: auto;
	// background-color: #DE8790;
	margin-top: 15px;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 1rem;
	color: #555;
	text-align: left;
}