.lifetitle{
	height: 180px;
	margin-top: 130px;
	border-radius: 10px;
	background-image: url(../images/titleback1.jpg);
	background-size:100%;
	background-position: bottom;
}
.lifetitle h3{
	text-align: center;
	line-height: 200px;
	color: #FFF;
	letter-spacing: 1px;
}
.lifecontnt{
	padding: 80px 0px 60px;
	text-align: center;/*btn置中*/
	background-image: url(../images/oback.png);
	background-size: 100%;
}

// tab
.tab {
  float: left;
  width: 15%;
  min-height: 600px;
  box-shadow: -1px -0px 4px #CCC;
  background-image:url(../images/tabmenuback.png);
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #416a7c;
  padding: 18px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgba(237,162,182,0.9);
  color: #FFF;
  font-weight: 900;
  border-bottom: 2px solid #FFF;
}

/* Style the tab content */
.tabcontent {
	background-color:#FFF; 
  float: left;
  border: 1px solid #DDD;
  width: 85%;
  border-left: none;
  min-height: 600px;
  padding: 30px;
}

// tab內的內容
.life-box {
	margin-bottom: 30px;
	position: relative;
}
.life-box img{
	width: 100%;
	height: 200px;
  object-fit: cover;
  border: 1px solid #FFF;
  box-shadow: 2px 2px 3px #DDD;
  border-radius: 5px;
}
.life-name {
  width: calc(100% - 30px);
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  transition: .5s ease;
  color: white;
  font-size: 1rem;
  padding: 15px;
  text-align: center;
  letter-spacing: 1px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.life-box:hover img {
  opacity: 0.5;
}