.view720title{
	height: 180px;
	margin-top: 130px;
	border-radius: 10px;
	background-image: url(../images/titleback1.jpg);
	background-size:100%;
	background-position: bottom;
}
.view720title h3{
	text-align: center;
	line-height: 200px;
	color: #FFF;
	letter-spacing: 1px;
}
.view720content{
	padding: 80px 0px 60px;
	text-align: center;/*btn置中*/
	background-image: url(../images/oback.png);
	background-size: 100%;
}
.view720-box{
	// background: #de3222;
	margin-bottom: 30px;
}
.view720-circle{
	width: 250px;
	height: 250px;
	border-radius: 200px;
	background: #fff;
	margin: auto;
}
.view720-circle img{
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 100%;
}
.view720-name{
	width: calc(100% - 30px);
	position: absolute; 
	background: rgba(37, 38, 33, 0.5);
	color: #f1f1f1; 
	transition: .5s ease;
	color: white;
	font-size: 1rem;
	padding: 15px;
	text-align: center;
	letter-spacing: 1px;
	border-radius: 100%;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.view720-circle:hover{
	transform: rotate(360deg);
	transition: all 0.3s;
}
.view720-circle:hover .view720-name{
	border-radius: 0;	
}
.view720-circle:hover img{
	opacity: 0.5;
}