.content{
	width: calc(100% - 180px);
	min-height: 100%;
	// background: #FF456e;
	background-image: url(../images/pagetitle.png);
	margin-left: 180px; 
  	padding: 20px 60px 20px 70px;
}
@media screen and (max-width: 900px) {
  .content {
    margin-left: 0px;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .content {
  	padding: 20px 0px;  
  }
}
.page-title{
	width: 100%;
	height: auto;
	// background: #DE4355;
	background-image:url(../images/title.png);
	background-size: 20%;
	background-position: center;
	background-repeat:no-repeat;	
	padding: 15px 0px;
	margin-bottom: 10px;
	font-size: 2.3rem;
	letter-spacing: 2px;
	color: #7e212c;
	text-align: center;
	font-weight: 900;
	text-shadow: 2px 2px 2px #EEE;
}
@media screen and (max-width: 1350px) {
  .page-title {
  	background-size: 25%;	  
  }
}
@media screen and (max-width: 1200px) {
  .page-title {
  	background-size: 30%;	  
  }
}
@media screen and (max-width: 1050px) {
  .page-title {
  	background-size: 35%;	  
  }
}
@media screen and (max-width: 750px) {
  .page-title {
  	background-size: 45%;	  
  }
}
@media screen and (max-width: 550px) {
  .page-title {
  	background-size: 55%;	  
  }
}
@media screen and (max-width: 400px) {
  .page-title {
  	background-size: 65%;	  
  }
}
@media screen and (max-width: 320px) {
  .page-title {
  	background-size: 70%;	  
  }
}
.titleline{
	width: 1px;
	height: 60px;
	background: #7e212c;
	margin: auto;
}
.about-content{
	margin-top: 20px;
	height: auto;
	box-shadow: 2px 2px 3px #EEE;
}
.about-text{
	height: auto;
	background: #f6f6f6;
	background-image:url(../images/aboutback.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;	
	padding-bottom: 50px;//螢幕縮小文字不會遮到btn
}
.about-text h4{
	text-align: center;
	padding: 40px 0px 0px;
	color: #5a372a;
	letter-spacing: 2px;
	text-shadow: 2px 2px 3px #DDD;
}
.about-text h6{
	text-align: center;
	padding: 15px 40px;
	color: #70818f;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 35px;
}
.about-text p{
	text-align: center;
	color: #555f68;
	letter-spacing: 2px;
	font-size: 1rem;
	line-height: 35px;
}
.about-text p i{
	color: #70818f;
	font-size: 0.8rem;
}
.about-btn{
	width: 90px;
	height: 90px;
	background:#fff;
	border-radius: 90px;
	box-shadow:1px 1px 2px #DDD;	
	position: absolute;
	bottom:-30px;
	left: 0;
	margin-left: calc((100% - 90px) / 2); 
	text-align: center;
}
.about-btn i{
	line-height: 90px;
	font-size: 2rem;
	color: #f48590;
}
.about-img{
	max-height: 100vh;
	// height: 500px;
	// background: #88bbb3;
	background-image:url(../images/slide1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
	.about-img{
		height: 500px;	
	}  
	.about-btn{
		display: none;	
	}
}
// 環境
.about-surroundings{
	height: auto;
	// background: #45456a;
	margin-top: 150px;
}
.as-1{
	height: 2px;
	background: #7e212c;
	margin-top: 15px;
}
.as-2{
	height: 70px;
	// background: #7e212c;
	text-align: center;	
	background-image:url(../images/a-title1.png);
	background-size: 100%;
	background-position: center;
	background-repeat:no-repeat;
}
.as-2 h4{
	line-height: 70px;
	color: #fff;	
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px #666;
}
.as-3{
	height: 2px;
	background: #7e212c;
	margin-top: 45px;
}	
.as-box{
	height: auto;
	margin-top: 50px;
	// background: #DE3;
}
@media screen and (max-width: 576px) {
	.about-surroundings{
		margin-top: 100px;	
	}
	.as-1{
		height: 0px;
	}
	.as-2{
		background-size: 55%;	
	}
	.as-3{
		height: 0px;
	}
	.as-box{
		margin-top: 0px;	
	}	
}
@media screen and (max-width: 450px) {
	.as-2{
		background-size: 65%;	
	}		
}
@media screen and (max-width: 400px) {
	.as-2{
		background-size: 78%;	
	}		
}
.as-box-div{
	height: 250px;
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid #ccc;
}
.as-box-div:hover{
	opacity: 0.9;
}
.as-box-div:hover .as-box-div-name{
	font-size: 1.15rem;
}
.as-box-div img{
	width: 100%;
	height: 250px;
	object-fit: contain;
}
.as-box-div-name{
	height: 50px;
	background: rgba(255,255,255,0.8);
	position: absolute;
	bottom:0;
	padding: 10px;
	font-size: 1.1rem;
	letter-spacing: 2px;
	color: #5a372a;
	transition: all 0.5s;	
}
// 聯絡資訊
.about-contact{
	height: auto;
	// background: #45456a;
	margin-top: 100px;//和環境介紹不一樣
}
.about-contact-local{
	// background: #ddde31;
	border-right:1px solid #DDD;	
}
.about-contact-local p{
	line-height: 32px;
	text-align: center;
	letter-spacing: 1px;
}
.about-contact-local p i{
	color: #7e212c;
	font-size: 0.8rem;
}
.about-contact-phone{
	// background: #666fff;
	border-right:1px solid #EEE;
}
.about-contact-phone p{
	line-height: 32px;
	text-align: center;
	letter-spacing: 1px;
}
.about-contact-phone p i{
	color: #7e212c;
	font-size: 0.8rem;
}
.about-contact-people{
	// background: #34de43;
}
.about-contact-people p{
	line-height: 32px;
	text-align: center;
	letter-spacing: 1px;
}
.about-contact-people p i{
	color: #7e212c;
	font-size: 0.8rem;
}

// footer
.footer{
	height: auto;
	// background: #DEe342;
	margin-top: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 0.9rem;
	letter-spacing: 1px;
	color: #555;
}
@media screen and (max-width: 800px) {
  .footer {
  	line-height: 25px;  
  }
}