.activity-box{
	height: auto;
	// background: #45456a;
	margin-top: 20px;	
}
.activity-box-div{
	height: auto;
	// background: #786ffb;
	margin-bottom: 30px;		
}
.activity-box-div-img{
	width: 100%;
	background: #ccd3d9;
	padding-top: 15px;
}
.activity-box-div-img img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	transition: all 0.5s;
}
.activity-box-div-name{
	width: 100%;
	height: 50px;
	background: #ccd3d9;
	text-align: center;
	line-height: 50px;
	font-size: 1.2rem;
	letter-spacing: 2px;
	color: #333;
	text-shadow: 2px 2px 2px #aaa;
	box-shadow: 2px 2px 2px #EEE;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.activity-box-div a:hover{
	text-decoration: none;
}
.activity-box-div a:hover .activity-box-div-img img{
	opacity: 0.8;
}