.area-box{
	height: auto;
	// background: #45456a;
	margin-top: 20px;	
}
.area-box-div{
	height: auto;
	// background: #786ffb;
	margin-bottom: 30px;		
}
.area-box-div-img{
	width: 100%;
	// background: #FFaa00;
	overflow: hidden;
	border: 1px solid #ddd;
}
.area-box-div-img img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	transition: all 0.5s;
}
.area-box-div-name{
	width: 100%;
	height: 50px;
	background: #f6f6f6;
	text-align: center;
	line-height: 50px;
	font-size: 1.2rem;
	letter-spacing: 2px;
	color: #5a372a;
	// box-shadow: 2px 2px 2px #EEE;
	border: 1px solid #ddd;
	border-top: none;
}
.area-box-div a:hover{
	text-decoration: none;
}
.area-box-div a:hover .area-box-div-img img{
	transform: scale(1.1);
}

// 頁碼
.pagebox{
	margin-top: 50px;
}
.pagination{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content:  center;	
}
.pagination a {
  color: #555;
  float: left;	
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #7e212c;
  color: white;
  text-decoration: none;
}
.pagination a:hover:not(.active) {
	background-color: #EEE;
	text-decoration: none;
	color: #7e212c;
}