.sidebar {
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #7e212c;
  position: fixed;
  height: 100%;
  box-shadow: 1px 1px 2px #888;
}
@media screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
.index-photo{
	width: 100%;
	height: 100vh;
	// background: #DE4533;
	background-image:url(../images/slide1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.logo{
	width: 220px;
	height: 220px;
	background: #7e212c;
	padding: 35px;
	border: 2px solid #FFF;
}
.logo img{
	width: 150px;
	height: 150px;
	object-fit: contain;
}
.fanslink{
  width: 180px;
  height: 300px;
  // background: #700ffd; 
  position: absolute;
  bottom:0;
}
.fanslink-div{
  width: 60px;
  height: 60px;
  // background: #fff;
  border-radius: 60px;
  text-align: center;
  line-height: 58px;
  font-size: 2rem;
  margin-left: 60px;
  margin-top: calc(120px / 4); 
  border: 1px dashed #FFF;
}
.fanslink-div i{
  color: #FFF;
}
.fanslink-div a:hover{ 
  opacity: 0.9;  
}
.fanslink-div:hover{ 
  border: 1px solid #FFF;  
}

// openmenu的fanslink
.sidenav-fanslink{
  width: 100%;
  height: 300px;
  // background: #700ffd; 
  position: absolute;
  bottom:0;
}
.sidenav-fanslink-div{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-align: center;
  margin-left: calc((100% - 60px)/2);
  margin-top: calc(120px / 4); 
  border: 1px dashed #FFF;
}
.sidenav-fanslink-div i{
  color: #FFF;
  font-size: 2rem;
  line-height: 60px;
}
.sidenav-fanslink-div a:hover{ 
  opacity: 0.9;  
}
.sidenav-fanslink-div:hover{ 
  border: 1px solid #FFF;  
}
// menu
.menu{
	width: 100%;
	height: auto;
	// background: #321e17;
	text-align: center;
}
.hamburg{
	color: #FFF;
	font-size: 2.5rem;
	cursor: pointer;	
}
.hamburg p{
	font-size: 1rem;
	letter-spacing: 1px;
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #321e17;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 1px 1px 2px #000;
}

.sidenav-a{
  padding: 15px 8px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #FFF;
  display: block;
  transition: 0.3s;
  text-align: center;
  letter-spacing: 1px;
}

.sidenav a:hover {
  color: #fed5d9;
  text-decoration: none;
  transform: translateX(10px);
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
@media screen and (max-width: 900px) {
  .menu{
    width: calc(100% - 150px);
    // background: #321e17;
    text-align: right;
    float: right;
  }
  .logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: none;
  }
  .logo img{
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
  .hamburg p{
    font-size: 0.4rem;
  }
  #main {
    padding: 3px 20px;
  }
}
@media screen and (max-width: 900px) {
  .fanslink{
    display: none;      
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
  	padding-top: 15px;
  }
  .sidenav a {
  	font-size: 18px;
  }
}

